<div class="bg">

    <div class="overall">
    <div class="search">
        <form method="GET" action="/search">
            
            <input type="text" id="search" placeholder="Search for artists..." name="q"/>
            
            <button>SEARCH</button>
        </form>
    </div>

    <div class="navbar">
        
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/tracks">FOLLOWED TRACKS</a></li>
            <li><a href="/playlists">Playlists</a></li>
            <li><a href="/user">User Profile</a></li>
        </ul>
    </div>
    </div>
    
