<%- include('./partials/header')%>
<%- include('./partials/navbar')%>
            <div class="content">

                

            <h1>Music for your moods</h1>


        <div class="mood">
            <p>Don't feel like listening to your regular playlists?</p>
            <a href="/getMood">Suggest playlists based on mood?</a>
        </div>
        

</div>

       

<%- include('./partials/footer')%>