<%- include('./partials/header')%>        
<%- include('./partials/navbar')%>

        
        <a id="login" href='https://accounts.spotify.com/authorize?client_id=<%= process.env.CLIENT_ID%>&response_type=code&redirect_uri=https%3A%2F%2Fimmense-refuge-76074.herokuapp.com%2F&scope=user-top-read user-follow-read user-modify-playback-state user-library-read playlist-modify-public playlist-modify-private'>Allow Application to Access Spotify acount</a>


<%- include('./partials/footer')%>
