<%- include('./partials/header')%>
<%- include('./partials/navbar')%>

<div class="getMood">
    <h3>On a scale from 0 to 1, how happy are you?</h3>

    <form method="GET" action="/mood">
        
        <input id="mood" type="number" name="mood" placeholder="mood" step="0.05"/>
        <button>Generate Playlist</button>
    </form>
</div>



<%- include('./partials/footer')%>




